$gray   : #263238;
$black  : #000000;
$white  : #ffffff;

$purple     : #674172;
$orange     : #FF9800;
$blue       : #446CB3;
$red        : #ff1744;
$d_red      : #CC372D;
$h_red      : #E63E32;
$green      : #26A65B;
$cabaret    : #D2527F;
$l_black    : #333333;


$color      :   #444a5a; // главный цвет
$color_2    :   #d1aa77;
$color_3    :   #7cb342;