//$base-font-family: 'Ubuntu', sans-serif !important;
//$ff-nickainley: 'Nickainley', 'Badscript', cursive !important; // Nickainley
//$ff-badscript: 'Badscript', cursive !important; // BadScript
//$ff-bebas: 'Bebas', sans-serif !important; // Bebas
//$ff-coolvetica: 'Coolvetica', sans-serif !important; // Coolvetica
//$ff-solomon: 'Solomon', sans-serif !important; // Solomon
//$ff-lobster: 'Lobster', cursive !important; // Lobster
//$ff-comfortaa: 'Comfortaa', sans-serif !important;
$ff-raleway: 'Raleway', sans-serif !important;
$ff-bebas:  'Bebas', sans-serif !important;
$ff-franklin: 'Franklin Gothic', sans-serif !important;

//$base-font-family:  'SFUIDisplay', sans-serif !important;
$base-font-family:  'Roboto', sans-serif !important;
//$font-family-coolvetica: 'Coolvetica', sans-serif !important;
$ff-lobster: 'Lobster', cursive !important;
//$font-family-solomon: 'Solomon', sans-serif !important;

$bff-2: $ff-raleway;
