$ff-roboto:  'Roboto', sans-serif !important;
//$ff-ubuntu: 'Ubuntu', sans-serif !important;
$ff-bebas:  'Bebas', sans-serif !important;
//$ff-nickainley: 'Nickainley', 'Badscript', cursive !important; // Nickainley
//$ff-badscript: 'Badscript', cursive !important; // BadScript
//$ff-coolvetica: 'Coolvetica', sans-serif !important; // Coolvetica
//$ff-solomon: 'Solomon', sans-serif !important; // Solomon
//$ff-comfortaa: 'Comfortaa', sans-serif !important;
$ff-raleway: 'Raleway', sans-serif !important;
$ff-franklin: 'Franklin Gothic', sans-serif !important;
//$ff-sf:  'SFUIDisplay', sans-serif !important;
$ff-lobster: 'Lobster', cursive !important;

$base-font-family: $ff-roboto;
$bff-2: $ff-raleway;
