.cart_empty{
  height: calc(100vh - 50px);
}

.page-template-template-cart{
  text-align: center;

  .woocommerce{
    width: 870px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: $white;
    margin-top: 70px;
    display: inline-block;
    margin-bottom: 185px;

    .woocommerce-message{
      display: none;
    }

    .block_info_woocommerce{
      @include span(full);
      height: 50px;
      border-bottom: 1px solid #d9d9d9;

      .item{
        @include span(33% inside);
        text-align: center;
        position: relative;

        &:before {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          z-index: 1;
          border-width: 25px 12px;
          border-style: solid;
          border-color: transparent;
          border-left-color: #d9d9d9;
          right: -24px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          z-index: 1;
          border-width: 25px 12px;
          border-style: solid;
          border-color: transparent;
          border-left-color: $white;
          right: -23px;
          top: 50%;
          transform: translateY(-50%);
        }


        .i{
          display: inline-block;
          width: 30px;
          height: 30px;
          border: 2px solid #ccc;
          color: #ccc;
          margin-right: 20px;
          font-style: normal;
          line-height: 26px;
          @include border-radius(50%);
        }

        .name{
          display: inline-block;
          font-weight: 500;
          color: #bfbfbf;
          line-height: 50px;
        }

        &.active{
          background-color: #c03546;

          &:before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            z-index: 1;
            border-width: 25px 12px;
            border-style: solid;
            border-color: transparent;
            border-left-color: #c03546;
            right: -24px;
            top: 50%;
            transform: translateY(-50%);
          }

          &:after{
            display: none;
          }

          .name{
            color: $white;
          }

          .i{
            border-color: $white;
            color: $white;
            opacity: .6;
          }
        }
      }
    }

    .shop_table{
      @include span(full);
      padding: 35px 85px 12px;

      .cart_item{
        @include span(full);
        @extend .z-depth-1;
        background-color: $white;
        padding: 0 20px;
        margin-bottom: 12px;
        position: relative;
        transition: all 200ms ease 0s;
        height: 230px;
        overflow: hidden;

        .item{
          &-image{
            @include span(4 of 12);
            height: 230px;
            position: relative;

            img{
              height: 320px;
              width: auto;
              margin-left: -50px;
              float: left;
            }

            .pizza{
              position: absolute;
              width: 178px;
              height: auto;
              bottom: -50px;
              right: 0;
              transition: all 800ms cubic-bezier(0.5, 0, 0.150, 1.7) 0s;

              img{
                width: 100%;
                height: auto;
                margin: 0;
                transition: all 800ms cubic-bezier(0.5, 0, 0.150, 1.7) 0s;
              }
            }
          }

          &-info{
            @include span(8 of 12 last);
            position: relative;
            height: 230px;

            .title{
              @include span(full);
              font-size: 24px;
              font-family: $ff-lobster;
              color: #333;
              padding: 12px 25px;
              border-bottom: 1px solid #ccc;
              margin: 0;
              position: relative;
              left: -70px;
              width: calc(100% + 90px);
              text-align: left;
            }

            .infocart{
              @include span(full);
              margin-top: 10px;
              height: 120px;
              display: flex;
              align-items: center;

              .item{
                @include span(full);
                text-align: left;
                margin-bottom: 5px;

                .name{
                  float: left;
                  margin-right: 2px;
                }

                .info{
                  float: left;

                  b{

                    &:after{
                      content: ',';
                    }

                    &:last-of-type{
                      &:after{
                        content: '';
                      }
                    }
                  }
                }
              }
            }

            .info_total{
              position: absolute;
              bottom: 0;
              right: -20px;
              height: 46px;
              width: 100%;
              border-top: 1px solid #ccc;
              padding: 0 20px 0 10px;

              .price{
                @include span(1 of 3);
                line-height: 45px;
                color: #333;

                .name{
                  float: left;
                }

                .info{
                  float: left;
                  font-weight: 500;
                  margin-left: 3px;

                  .amount{
                    font-size: 18px;

                    .woocommerce-Price-currencySymbol{
                      font-weight: 400;
                      font-size: 16px;
                    }
                  }
                }

                &:after{
                  content: '';
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  background-color: #d9d9d9;
                  @include border-radius(50%);
                  position: absolute;
                  margin-left: 20px;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }

              .block_quantity{
                @include span(1 of 3);

                .quantity{
                  display: inline-block;
                  margin-top: 7px;


                  .input-number,
                  .input-number-decrement,
                  .input-number-increment {
                    border: 1px solid #ccc;
                    height: 30px;
                    user-select: none;
                    float: left;
                  }


                  .input-number {
                    width: 40px;
                    padding: 0;
                    vertical-align: top;
                    text-align: center;
                    outline: none;
                    font-size: 16px;
                    color: #333333;
                    font-weight: 500;

                    &:disabled{
                      background-color: transparent;
                    }

                    &-increment, &-decrement{
                      display: inline-block;
                      width: 23px;
                      line-height: 28px;
                      background: $white;
                      color: $color;
                      text-align: center;
                      font-weight: 500;
                      cursor: pointer;
                      font-size: 18px;

                      &:active{
                        //background: #ddd;
                      }
                    }

                    &-decrement{
                      border-right: none;
                      border-radius: 15px 0 0 15px;
                      //right: -10px;
                    }

                    &-increment{
                      //border-left: none;
                      border-radius: 0 15px 15px 0;
                      position: relative;
                      left: -10px;
                      border-left: 1px solid #ccc;
                    }
                  }
                }
              }

              .all_price{
                @include span(1 of 3 last);
                line-height: 45px;
                color: #333;
                position: relative;

                &:before{
                  content: '';
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  background-color: #d9d9d9;
                  @include border-radius(50%);
                  position: absolute;
                  top: 50%;
                  left: -30px;
                  transform: translateY(-50%);
                }

                .name{
                  float: left;
                }

                .amount{
                  font-size: 18px;
                  font-weight: 500;
                  color: #ff001f;

                  .woocommerce-Price-currencySymbol{
                    font-weight: 400;
                    font-size: 16px;
                    color: #333;
                  }

                }
              }
            }
          }
        }

        &:hover{
          @extend .z-depth-2;

          .pizza{
            width: 210px;
            bottom: -40px;

            img{
              transform: rotateZ(45deg);
            }
          }
        }

        .remove{
          position: absolute;
          @include transform(scale(1));
          top: 17px;
          right: 20px;
          width: 20px;
          height: 20px;
          @include border-radius(50%);
          background-color: #d85a49;
          transition: all 200ms ease-in 0s;
          opacity: .6;

          i{
            display: inline-block;
            width: 10px;
            height: 10px;
            overflow: hidden;
            position: relative;

            &::before, &::after {
              content: '';
              position: absolute;
              height: 1px;
              width: 100%;
              top: 50%;
              left: 0;
              margin-top: -1px;
              background: $white;
            }

            &::before {
              @include transform(rotate(45deg));
            }
            &::after {
              @include transform(rotate(-45deg));
            }
          }

          &:hover{
            background-color: darken(#d85a49, 10);
            opacity: 1;
          }
        }
      }
    }

    .block_woocommerce_total{
      @include span(full);
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: $white;
      border-top: 1px solid #b3b3b3;
      padding: 25px 0;

      .inner{
        width: 870px;
        margin: 0 auto;
      }

      .back_shop{
        @include span(1 of 2);
        text-align: left;
        transition: all 400ms cubic-bezier(0.5, -1.3, 0.150, 1.7) 0s;

        a{
          color: #b3b3b3;
          font-weight: 500;
          line-height: 1;
          transition: inherit;

          .icon{
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 2px solid #2b2d32;
            @include border-radius(50%);
            position: relative;
            margin-right: 20px;
            transition: inherit;

            &:before{
              @include arrow(9px, #3e95cc);
              border-width: 0 0 2px 2px;
              transform: rotate(45deg) translateY(-50%) translateX(50%);
              margin-top: -4px;
              right: 50%;
            }
          }

          span{
            line-height: 1;
            display: inline-block;
            position: relative;
            bottom: 9px;
          }
        }

        &:hover{

          a{
            color: #2b2d32;
          }

          .icon{
            margin-right: 10px;
            border-color: #3e95cc;

            &:before{
              border-color: #2b2d32;
            }
          }

        }
      }

      .price-actions{
        @include span(1 of 2 last);
        text-align: right;

        .name{
          font-size: 18px;
          color: #808080;
          display: inline-block;
          position: relative;
          bottom: 5px;
          line-height: 1;
        }

        .price{
          display: inline-block;
          margin-left: 20px;
          line-height: 1;

          .amount{
            font-size: 34px;
            font-weight: 500;
            color: #333;

            .woocommerce-Price-currencySymbol{
              color: #808080;
              font-size: 24px;
              font-weight: 400;
            }
          }
        }

        .button{
          height: 50px;
          @include border-radius(25px);
          display: inline-block;
          line-height: 50px;
          margin-top: 30px;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
          position: relative;
          padding-left: 42px;
          padding-right: 68px;

          &:after{
            @include arrow(12px, $white);
            right: 40px;
            transition: all 400ms cubic-bezier(0.5, -1.3, 0.150, 1.7) 0s;
          }

          &:hover{

            &:after{
              right: 25px;
            }
          }
        }
      }
    }
  }
}