.page-template-template-maker{
  background-image: url('img/dark_wall.png');
  height: 100vh;
  overflow: hidden;
}

.section_makerpizza{
  @include span(full);

  .block_image_pizza{
    float: left;
    width: calc(100% - 340px);
    height: calc(100vh - 50px);
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: center;

    .inner{
      width: 100%;

      .main-layer{
        width: 600px;
        height: 600px;
        position: relative;
        display: inline-block;

        .layer{
          position: absolute;
          //width: 600px;
          //height: 600px;
          //display: none;
          width: 600px;
          height: 600px;
          transition: all 400ms cubic-bezier(0.5, -1.3, 0.150, 1.7) 0s;
          overflow: hidden;
          display: flex;
          opacity: 0;
          @include transform(scale(0));


          &-basis{
            display: flex;
            width: 600px;
            height: 600px;
            opacity: 1;
            @include transform(scale(1));
          }

          &.active{
            display: flex;
            width: 600px;
            height: 600px;
            opacity: 1;
            @include transform(scale(1));
          }
        }
      }
    }
  }

  .block_ingredients{
    @include span(340px last);
    background-color: #e6e6e6;
    height: calc(100vh - 50px);
    position: relative;

    .title-ingredients{
      @include span(full);
      color: #666;
      font-size: 18px;
      text-align: center;
      padding: 30px 0 20px;
      border-bottom: 1px solid #b3b3b3;
      position: relative;
      z-index: 1000;
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.07), 0 1px 10px 0 rgba(0,0,0,0.06), 0 2px 4px -1px rgba(0,0,0,0.15);
    }

    .block_list_ingredients{
      @include span(full);
      max-height: calc(100vh - 253px);
      overflow-y: auto;
      width: calc(100% - 2px);
      padding-top: 15px;
      position: relative;
      z-index: 900;
      overflow-x: hidden;

      .main-back{
        @include span(full);
        display: none;
        padding: 5px 10px;
        margin-top: -10px;
        cursor: pointer;

        .arrow{
          width: 36px;
          height: 36px;
          @include border-radius(50%);
          line-height: 44px;
          text-align: center;
          margin-right: 5px;

          svg{
            transform: rotate(270deg);
          }
        }

        .name{
          position: relative;
          top: 1px;
          font-size: 15px;
        }

        &.active{
          display: block;
        }
      }

      .main-item{
        @include span(full);
        margin-bottom: 5px;

        &:last-of-type{
          margin-bottom: 15px;
        }

        .item{
          @include span(full);
          height: 60px;
          background-color: #f1f1f1;
          border: 1px solid #b3b3b3;
          border-width: 1px 0;
          position: relative;
          transition: all 200ms ease 0s;

          .image{
            width: 85px;
            float: left;
            height: 100%;
            background-color: $white;
            border-right: 1px solid #b3b3b3;
            padding: 5px 0;
            transition: all 400ms cubic-bezier(0.5, -1.3, 0.150, 1.7) 0s;

            img{
              width: auto;
              height: 100%;
            }
          }

          .name{
            float: left;
            line-height: 1;
            color: #4d4d4d;
            padding: 0 10px;
            width: 157px;
            display: flex;
            align-items: center;
            height: 58px;
          }

          &-title{

            &:hover{
              background-color: darken(#f1f1f1, 5);
            }

            .arrow{
              position: relative;
              float: right;
              height: 58px;
              width: 70px;
              cursor: pointer;

              span{
                width: 40px;
                height: 40px;
                @include border-radius(50%);
                margin-top: 9px;
                text-align: center;
                transition: all 200ms ease 0s;

                i{
                  position: absolute;
                  top: 50%;
                  bottom: 0;
                  left: 50%;
                  right: 70px;
                  height: 15px;
                  width: 15px;
                  border: 1px solid #666;
                  border-width: 1px 1px 0 0;
                  transform: rotate(45deg);
                  margin-top: -7px;
                  margin-left: -12px;
                  transition: all 200ms ease 0s;
                }
              }
            }
          }

          &-element{
            margin-left: -350px;
            border-width: 0 0 1px 0;
            transition: all 400ms cubic-bezier(0.5, -1.3, 0.150, 1.7) 0s;
            //transition: all 300ms cubic-bezier(0.390, 0.500, 0.150, 1.360) 0s;

            .count{
              @include span(60px last);
              position: relative;
              line-height: 58px;
              height: 58px;
              text-align: center;
              margin-right: 20px;

              .minus, .plus{
                float: left;
                width: 20px;
                height: 58px;
                cursor: pointer;

                i{
                  position: absolute;
                  top: 50%;
                  bottom: 0;
                  height: 12px;
                  width: 12px;
                  border: 1px solid #666;
                  border-width: 1px 1px 0 0;
                  margin-top: -5px;
                  transition: all 200ms ease 0s;
                  cursor: pointer;
                }

                &:hover{
                  border-color: $color;
                }
              }

              .minus{

                i{
                  left: 6px;
                  transform: rotate(225deg);
                }
              }

              .plus{
                float: right;

                i{
                  right: 6px;
                  transform: rotate(45deg);
                }
              }

              .num{
                font-size: 16px;
                font-weight: 500;
                color: #4d4d4d;
                line-height: 60px;
                transition: all 400ms cubic-bezier(0.5, -1.3, 0.150, 1.7) 0s;
              }
            }

            &:nth-child(2){
              transition-delay: 0s;
            }

            &:nth-child(3){
              transition-delay: 50ms;
            }

            &:nth-child(4){
              transition-delay: 80ms;
            }

            &:nth-child(5){
              transition-delay: 110ms;
            }

            &:nth-child(6){
              transition-delay: 140ms;
            }

            .name{
              font-weight: 500;
            }

            &.hidden{
              display: none;
            }
          }
        }

        &.active{


          .item{

            &-title{
              .image{
                margin-left: -90px;
              }

              .arrow{
                span{
                  i{
                    transform: rotate(135deg);
                    margin-top: -11px;
                    margin-left: -7px;
                  }
                }
              }
            }

            &-element{
              margin-left: 0;
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
        border: 0;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color;
        //opacity: .5;
        transition: all 200ms ease 0s;
        @include border-radius(4px);
      }
      &::-webkit-scrollbar-thumb:hover {
        background-color: lighten($color, 10);
      }

      &::-webkit-scrollbar-thumb:active {
        background-color: darken($color, 10);
      }
    }

    .block_total{
      width: 100%;
      height: 70px;
      position: absolute;
      bottom: 60px;
      left: 0;
      z-index: 1000;
      background-color: $white;
      line-height: 70px;
      padding: 0 20px;
      box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.07), 0 -1px 10px 0 rgba(0,0,0,0.06), 0 -2px 4px -1px rgba(0,0,0,0.15);

      .title{
        font-weight: 500;
        color: #666;
        margin-right: 22px;
      }

      .num{
        font-size: 24px;
        color: #940a0a;
        font-weight: 500;
      }

      .currency{
        font-weight: 500;
        color: #666;
      }
    }

    .block_button{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 60px;

      .maker-button{
        height: 60px;
        width: 50%;
        border: 0;
        outline: none;
        text-align: center;
        line-height: 60px;
        float: left;
        color: $white;
        font-weight: 500;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &-cancel{
          background-color: #940a0a;

          &:hover{
            box-shadow: 0 0 45px -5px rgba(#940a0a, 1);
          }
        }

        &-accept{
          background-color: #7cb342;

          &:hover{
            box-shadow: 0 0 45px -5px rgba(#7cb342, 1);
          }
        }
      }
    }
  }
}