@charset "utf-8";
html {
  height: 100%;
  margin: 0!important;
}
body {
  min-height: 100%;
  font-family: $base-font-family;
  background-color: #eee;
  overflow-x: hidden;
}

p{
  margin: 0;
}


a{

  color: $color;
}

b{
  font-weight: $font-weight-medium;
}


h1, h2, h3, h4, h5, h6{
  font-weight: $font-weight-normal;
}

img, iframe {
  margin: auto;
  display: block;
}

blockquote{
  padding: 0;
}