@font-face {
  font-family: 'Bebas'; /* Имя шрифта */
  src: url(fonts/bebas/BebasNeueThin.ttf); /* Путь к файлу со шрифтом */
  font-weight: 100;
}

@font-face {
  font-family: 'Bebas'; /* Имя шрифта */
  src: url(fonts/bebas/BebasNeueLight.ttf); /* Путь к файлу со шрифтом */
  font-weight: 200;
}

@font-face {
  font-family: 'Bebas'; /* Имя шрифта */
  src: url(fonts/bebas/BebasNeueBook.ttf); /* Путь к файлу со шрифтом */
  font-weight: 300;
}

@font-face {
  font-family: 'Bebas'; /* Имя шрифта */
  src: url(fonts/bebas/BebasNeueRegular.ttf); /* Путь к файлу со шрифтом */
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas'; /* Имя шрифта */
  src: url(fonts/bebas/BebasNeueBold.ttf); /* Путь к файлу со шрифтом */
  font-weight: 600;
}