
@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Ultralight.otf); /* Путь к файлу со шрифтом */
  font-weight: 100;
}

@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Light.otf); /* Путь к файлу со шрифтом */
  font-weight: 200;
}

@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Thin.otf); /* Путь к файлу со шрифтом */
  font-weight: 300;
}

@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Regular.otf); /* Путь к файлу со шрифтом */
  font-weight: 400;
}

@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Medium.otf); /* Путь к файлу со шрифтом */
  font-weight: 500;
}

@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Semibold.otf); /* Путь к файлу со шрифтом */
  font-weight: 600;
}

@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Bold.otf); /* Путь к файлу со шрифтом */
  font-weight: 700;
}

@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Heavy.otf); /* Путь к файлу со шрифтом */
  font-weight: 800;
}

@font-face {
  font-family: 'SFUIDisplay'; /* Имя шрифта */
  src: url(fonts/SFUIDisplay/SFUIDisplay-Black.otf); /* Путь к файлу со шрифтом */
  font-weight: 900;
}