@font-face {
  font-family: 'Solomon'; /* Имя шрифта */
  src: url(fonts/solomon/Solomon_Black.otf); /* Путь к файлу со шрифтом */
  font-weight: 900;
}

@font-face {
  font-family: 'Solomon'; /* Имя шрифта */
  src: url(fonts/solomon/Solomon_Bold.otf); /* Путь к файлу со шрифтом */
  font-weight: 700;
}