@charset "utf-8";

@import "button";       // Кнопки
@import "social";       // Иконки социальных сетей
@import "form";         // Формы
@import "modal";        // Модальное окно
@import "slider";       // Слайдер ( slick )
@import "flickity";     // Плагин Flickity ( Слайдер )

@import "sideNav";      // Боковая навигация
@import "waves";        // Волны на блоки

@import "fullpage";     // Плагин FullPage

//@import "breadcrumb"; // Хлебные крошки
//@import "select";
//@import "dropdown";

//@import "scroll";

//@import "tabs";
//@import "pagenavi";