.side-nav {
  position: fixed;
  width: 80%;
  left: 0;
  top: 0;
  margin: 0;
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%); //Temporary Firefox Fix
  padding-bottom: 60px;
  background-color: $white;
  z-index: 6000;
  overflow-y: auto;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateX(-105%);

  @extend .z-depth-1;

  // Right Align
  &.right-aligned {
    right: 0;
    transform: translateX(105%);
    left: auto;
    transform: translateX(100%);
  }

  .collapsible {
    margin: 0;
  }

  li.title_menu{
    height: 60px;
    //background-color: rgba($black, .2);
    font-size: 20px;
    font-weight: 300;
    padding: 0 20px;
    line-height: 60px;
    color: $l_black;
    font-family: $bff-2;
    border-bottom: 1px solid #eee;
  }

  li.phone{
    text-align: center;
    float: left;

    a{
      color: $white;
    }
  }


  li {
    @include span(full);
    line-height: 48px;

    &.active { background-color: rgba(0,0,0,.05); }
  }

  a {
    font-family: $bff-2;
    color: $l_black;
    display: block;
    font-size: 18px;
    font-weight: 300;
    height: 44px;
    line-height: 44px;
    padding: 0 (12px * 2);

    &:hover { background-color: rgba(0,0,0,.05);}

    &.btn, &.btn-large, &.btn-flat, &.btn-floating {
      margin: 10px 15px;
    }

    &.btn,
    &.btn-large,
    &.btn-floating { color: $color; }
    &.btn-flat { color: $white; }

    &.btn:hover,
    &.btn-large:hover { background-color: lighten($color_2, 5%); }
    &.btn-floating:hover { background-color: $color_2; }
  }

  li > a > i,
  li > a > [class^="mdi-"], li > a > [class*="mdi-"],
  li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 (12px * 2) 0 0;
    width: 48px / 2;
    color: rgba(0,0,0,.54);
  }

  .divider {
    margin: (12px / 2) 0 0 0;
  }

  .subheader {
    &:hover {
      background-color: transparent;
    }

    cursor: initial;
    pointer-events: none;
    color: rgba(0,0,0,.54);
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
  }

  .userView {
    position: relative;
    padding: (12px * 2) (12px * 2) 0;
    margin-bottom: 12px / 2;

    & > a {
      &:hover { background-color: transparent; }
      height: auto;
      padding: 0;
    }

    .background {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    .circle, .name, .email {
      display: block;
    }

    .circle {
      height: 64px;
      width: 64px;
    }

    .name,
    .email {
      font-size: 18px;
      line-height: 24px;
    }

    .name {
      margin-top: 16px;
      font-weight: 500;
    }

    .email {
      padding-bottom: 16px;
      font-weight: 400;
    }
  }

  .sub-menu{
    a{
      padding-left: 48px;
      line-height: 1;
      height: auto;
      padding-bottom: 10px;
    }
  }
}


// Touch interaction
.drag-target {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  z-index: 998;
}


// Fixed side-nav shown
.side-nav.fixed {
  left: 0;
  transform: translateX(0);
  position: fixed;

  // Right Align
  &.right-aligned {
    right: 0;
    left: auto;
  }
}

// Fixed sideNav hide on smaller
//@media #{$medium-and-down} {
//  .side-nav {
//    &.fixed {
//      transform: translateX(-105%);
//
//      &.right-aligned {
//        transform: translateX(105%);
//      }
//    }
//
//    a {
//      padding: 0 12px;
//    }
//
//    .userView {
//      padding: 12px 12px 0;
//    }
//  }
//}


.side-nav .collapsible-body > ul:not(.collapsible) > li.active,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: $color_2;
  a {
    color: $color;
  }
}


#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 120vh;
  background-color: rgba(0,0,0,.5);
  z-index: 997;

  will-change: opacity;
}
